.container-header {
  display: flex;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
@media only screen and (min-width: 720px) {
  .container-header {
    flex-direction: row;
  }
}

.header-form {
  display: flex;

  flex-basis: 50%;
  justify-content: center;
  align-self: stretch;
  align-items: center;
}
.movie-search-input {
  flex-basis: 60%;
  border-radius: 10px;
  padding: 0.5rem;
}
.search-button {
  flex-basis: 100px;
}
.movie-search-input,
.search-button {
  font-family: inherit;
  font-size: medium;
  margin-bottom: 0.5rem;
  height: 100%;
}
@media only screen and (min-width: 720px) {
  .movie-search-input,
  .search-button {
    margin: 0.5rem;
    height: 50%;
  }
}

.brand {
  font-family: "Fredoka One", cursive;
  font-size: 2.25rem;
  color: #81a5ff;
  text-decoration: none;
}
